* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

header {
  margin: 20px;
}

button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: lightseagreen;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: lightblue;
  color: white;
}
/* Pokemon Icon*/
.pokeball {
  float: left;
  height: 30px;
  margin: 10px;
}
/* Grid fallback*/

.pokemon-button {
  display: inline-block;
  width: 100%;
}

/* Styling CSS grid*/

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  text-decoration: none;
  list-style-type: none;
}

.pokemon-button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
  background-color: lightblue;
  color: #fff;
}

.pokemon-button_darken {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
  background-color: rgb(82, 158, 184);
  color: #fff;
}

.pokemon-button:hover,
.pokemon-button_darken:hover {
  box-shadow: none;
}

/*Spinner for loading*/
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.spinner-image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  z-index: 99;
  -webkit-animation: rotate-vert-center 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite;
}

.is-loading {
  visibility: visible;
}

.is-not-loading {
  visibility: hidden;
}

@media all and (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .pokemon-list {
    grid-gap: 10px;
  }
  .pokemon-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  .pokeball {
    height: 22px;
  }
}
